{% extends './masters/main.html.twig' %}
{% block body %}
    <h1>Liste des genres <a href="{{ path('gigastore_admin_add_genre') }}"><i class="fas fa-plus-circle"></i></a></h1>
{#    {{ dump(app) }}#}
    {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success" role="alert">{{ flashMessage }}</div>

    {% endfor %}
    <table class="table table-bordered table-striped col-md-6">
        <thead>
        <tr class="text-center">
            <td>Code</td>
            <td>Intitule</td>
            <td>Administrer</td>
        </tr>
        </thead>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.code }}</td>
                <td>{{ genre.intitule }}</td>
                <td class="text-center">
                    <a href="{{ path('gigastore_admin_edit_genre', {codeGenre: genre.code}) }}"> <i class="fas fa-pen-square"></i></a>
                    <a href="{{ path('gigastore_admin_delete_genre', {codeGenre: genre.code}) }}"> <i class="fas fa-minus-circle"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}