<p class="text-center"> Copyright <span class="text-primary"> <a href="{{ path('index') }}">Gigastore</a> </span>&mdash; {{ "now" | date('Y') }}<br>
tous droits de reproduction réservés</p>
<p class="text-center"><a href="{{ path('static_route', {page: 'mentions-legales'}) }}"> Mentions légales</a> - <a href="{{ path('static_route', {page: 'cgv'}) }}">CGV</a></p>
<script src="{{ asset('lib/jquery/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>