{% set route = app.request.get('_route') %}
{% set routeStatic = app.request.get('page')%}
{#{{ dump(app) }}#}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
    <a class="navbar-brand" href="{{ path('index') }}"> <i class="fas fa-home mr-1"></i>
        Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ route =='livres'?'active':'' }}"> {# calcul ternaire qui dit Si route = livre alors on écrit active, sinon vide.#}
                <a class="nav-link" href="{{ path('livres') }}"> <i class="fas fa-book mr-1"></i> Livres</a>
            </li>
            <li class="nav-item {{ route =='livres'?'active':'' }}">
                <a class="nav-link" href="{{ path('livres') }}"> <i class="fab fa-youtube mr-1"></i> DVD</a>
            </li>
            <li class="nav-item {{ route =='livres'?'active':'' }}">
                <a class="nav-link" href="{{ path('livres') }}"> <i class="far fa-eye mr-1"></i> Spectacles</a>
            </li>
            <li class="nav-item {{ route =='livres'?'active':'' }}">
                <a class="nav-link" href="{{ path('livres') }}"> <i class="fas fa-desktop mr-1"></i> Informatique</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ routeStatic =='qui-sommes-nous'?'active':'' }} ">
                <a class="nav-link" href="{{ path('static_route', {page: 'qui-sommes-nous'}) }}"> <i class="fas fa-info-circle mr-1"></i> Qui sommes-nous ?</a>
            </li>
            <li class="nav-item {{ route =='contact'?'active':'' }}">
                <a class="nav-link" href="{{ path('contact') }}"> <i class="fas fa-envelope mr-1"></i> Contact</a>
            </li>
        </ul>
    </div>

</nav>