{% extends './masters/main.html.twig' %}
{% block body %}
    <h1>Liste des {{ entity | lower }}s <a href="{{ path('gigastore_admin_add_entity', { entity: entity }) }}"><i
                    class="fas fa-plus-circle"></i></a></h1>
    {#    {{ dump(app) }}#}
    {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success" role="alert">{{ flashMessage }}</div>

    {% endfor %}
    <table class="table table-bordered table-striped col-md-12">
        <thead>
        <tr class="text-center">
        <tr>
            {% for field, label in labels %}
                <td>{{ label }}</td>
            {% endfor %}
            <td>Administrer</td>
        </tr>
        </thead>
        {% for item in items %}
            <tr>
                {% for field, label in labels %}
                    <td>{{ attribute(item, field) }}</td>
                {% endfor %}
                <td class="text-center">
                    <a href="{{ path('gigastore_admin_edit_entity', {id: attribute(item, primaryKey) , entity: entity }) }}"> <i
                                class="fas fa-pen-square"></i></a>
                    <a href="{{ path('gigastore_admin_delete_entity', {id: attribute(item, primaryKey) , entity: entity }) }}">
                        <i class="fas fa-minus-circle"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}