<!doctype html>
<html lang="fr">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap.'~app.session.get('theme')~'.min.css') }}">
        {#<link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap.solar.min.css') }}">#}
        <link rel="stylesheet" href="{{ asset('lib/fontawesome/css/all.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/css/css.css') }}">

    {% endblock %}
    <title>{% block title %}Accueil du Gigastore &mdash; {{ "now" | date('Y') }}{% endblock %}</title>
</head>
<body>
<div>
    <header>
        {% include './partials/navbar.html.twig' %}
    </header>
    {% block header %}

    {% endblock %}
</div>

<div class="container rounded" style="background-color: rgba(255,255,255,0.3)">
    <div class="row devant">
        <aside class="col-md-3 rounded mt-3">
            <div>{{ render(controller('App\\Controller\\CatalogueController::thisMonth')) }}</div>
            <div>{{ render(controller('App\\Controller\\CatalogueController::nouveautes')) }}</div>
        </aside>
        <section class="col-md-9 mt-3">
            {% block body %}
            {% endblock %}
        </section>
    </div>
    <hr>
</div>


{% block footer %}
    <footer>
        {% include './partials/footer.html.twig' %}
    </footer>
{% endblock %}
</body>
</html>