{% extends './masters/main.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-md-8">
            <h1> {{ livre.titre }} </h1>
            <table class="table table-striped table-bordered col-md-7">
                <tr>
                    <th>Référence</th>
                    <td>{{ livre.id }}</td>
                </tr>
                <tr>
                    <th>Auteur</th>
                    <td>{{ livre.auteur }}</td>
                </tr>
                <tr>
                    <th>Éditeur</th>
                    <td>{{ livre.editeur }}</td>
                </tr>
                <tr>
                    <th>Collection</th>
                    <td>{{ livre.collection }}</td>
                </tr>
            </table>
            <div>
                <h1>Résumé</h1>
                <p>{{ livre.description }}</p>
            </div>
        </div>
            <aside class="col-md-4">
                <div>
                <img src="{{ asset( 'images/livres/zooms/' ~ livre.photo) }}" alt="photo">
                </div>
                <div>
                    <table class="table table-striped table-bordered mt-2">
                        <tr>
                            <th>Format</th><td>{{ livre.format }}</td>
                        </tr>
                        <tr>
                            <th>Pages</th><td>{{ livre.pages }}</td>
                        </tr>
                        <tr>
                            <th>Poids</th><td>{{ livre.poids }}</td>
                        </tr>
                        <tr>
                            <th>Livraison</th><td>{{ livre.delaidelivraison }}</td>
                        </tr>
                    </table>
                </div>
            </aside>
        </div>

{% endblock %}